atomicwrites==1.4.0
attrs==20.2.0
cffi==1.14.3
colorama==0.4.4
dnspython==2.0.0
gevent==20.9.0
greenlet==0.4.17
iniconfig==1.1.1
motor==2.3.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pydantic==1.6.1
pymongo==3.11.0
pyparsing==2.4.7
pytest==6.1.2
pytest-asyncio==0.14.0
six==1.15.0
toml==0.10.2
websockets==8.1
zope.event==4.5.0
zope.interface==5.1.2
